<h1>Sour Candy Tier List</h1>

<div class="tier-list-container">

    <div class="tier-grid">
        <div *ngFor="let row of this.tierListRows$ | async" class="tier-grid__row label-container">
            {{row.name}}
        </div>
    </div>

    <div class="tier-list-boundary">
        <app-positional-tier-list-item *ngFor="let item of this.tierListItems$ | async" [item]="item">
        </app-positional-tier-list-item>

        <div class="tier-grid">
            <div *ngFor="let row of this.tierListRows$ | async" class="tier-grid__row">
            </div>
        </div>
    </div>
</div>