.tier-list-boundary {
    grid-column-start: 2;
}

.tier-grid {
    display: grid;
    grid-auto-rows: 175px;
}

.tier-grid__row {
    border: solid black 2px;
}

.tier-list-container {
    width: 1000px;
    display: grid;
    grid-template-columns: 175px auto;
    border: solid black 2px;
}

.label-container {
    display: flex;
    align-items: center;
    justify-content: center;
}